processor-*/
*-clean.png
*-composed.png
domijorim-ref.png
domijorim-v1-noskate-raw.png
domijorim-walk2-raw.png
domijorim-walk2-ref.png
heumi-raw.wav
snd_txt*
bgm-clearing-raw.mp3
bgm-battle-raw.mp3
dohyun-battle-v1-axe-raw.png
heumi-win.wav
heumi-wide.wav
heumi-captions*
heumi-4444.wav
domijorim-v2-tall-raw.png
dohyun-v1-raw.png
domijorim-chibi-raw.png
domijorim-v3-chibi2-raw.png
domijorim-chibi2-raw.png
domijorim-v4-chibi3-raw.png
domijorim-chibi3-raw.png
